/* Happy Clients Says */
.img-style {
  width: 100px;
  height: 100px;
}

.accordion-image-style {
  width: 564px;
  height: 364px;
}

footer {
  width: 100%;
  height: 280px;
}
.apps-photo {
  width: 135px;
  height: 40px;
}
